*,.cabeçalho_menuNavegaçao, .containerDeAssuntos, .termosTwitter{
    font-family: 'Roboto', sans-serif; 
}

html{
    overflow-x: hidden;
}


/* CABEÇALHO */

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

header{
    position: fixed;
}

.cabeçalho{
    margin-left: -50px;
    flex-basis: 20%;
    cursor: pointer;
}

.cabeçalho_logo{
    margin-bottom: 30px;
}

.cabeçalho_logo img{
    margin-top: 10px;
}

.cabeçalho_menuItem{
    margin-bottom: 20px;
    padding: 10px;
}

.cabeçalho_menuItem:hover{
    border-radius: 20px;
    background-color: rgba(73, 71, 71, 0.325);
}

.cabeçalho_menuItem img{
    max-width: 26px;
    margin-top: -3px;
    margin-right: 10px;
}

.cabeçalho_menuItem a{
    color: #000;
    text-decoration: none;
    font-size: 20px;
    vertical-align: top;
}


/* CONTEÚDO PRINCIPAL */

.conteudoPrincipal{
    max-width: 700px;
    flex-basis: 70%;
    border-left: 1px solid  rgba(204, 202, 202, 0.395);
    border-right: 1px solid  rgba(204, 202, 202, 0.395);
    margin-left: 180px;
}

.conteudoPrincipal_titulo{
    padding: 10px 30px;
    font-size: 20px;
    font-weight: bold;
}

#circle1{
    width: 20px;
    height: 20px;
    border: 2px solid #3498DB;
    border-radius:20px ;
    float: right;
    background-color: black;
    cursor: pointer;
    margin-left: 5px;
}

#circle2{
    width: 20px;
    height: 20px;
    border: 2px solid #3498DB;
    border-radius:20px ;
    float: right;
    background-color: rgb(70, 84, 97);
    cursor: pointer;
}

#circle3{
    width: 20px;
    height: 20px;
    border: 2px solid #3498DB;
    border-radius:20px;
    float: right;
    background-color: white;
    cursor: pointer;
    margin-right: 5px;
}

.conteudoPrincipal_formulario{
    padding: 10px 30px;
    border-top: 1px solid  rgba(204, 202, 202, 0.395);
    border-bottom: 10px solid  rgba(204, 202, 202, 0.395);
    text-align: right;
}

.conteudoPrincipal_formulario textarea{
    overflow: hidden;
    display: block;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    height: 55px;
    font-size: 18px;
    background: transparent;
}

.conteudoPrincipal_formulario button{
    background-color: #3498DB;
    border: none;
    padding: 8px 20px;
    color: white;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.conteudoPrincipal_listaTweets{
    display: flex;
    flex-flow: column-reverse nowrap;   
}

.conteudoPrincipal_listaTweets img{
    width: 55px ;
    cursor: pointer;
}

.conteudoPrincipal_tweet{
    padding: 20px 32px;
    display: flex; 
    align-items: flex-start;
    border:1px solid rgba(204, 202, 202, 0.395);
}

.tweet_conteudo{
    margin-right: 20px;
    margin-left: 15px;
    overflow: hidden;
}

.tweet_conteudo h2{
    display: inline-block;
    cursor: pointer;
}

.tweet_conteudo h2:hover{
    text-decoration: underline;
}

.tweet_conteudo span{
    display: block;
    color: #828282;
}

.tweet_conteudo p{
    margin-top: 15px; 
}

.botoesDeinteracao{
    display: flex;
    justify-content: space-between;
    margin-top: 15px; 
}

.bdi:hover{
    background-color: rgba(100, 148, 237, 0.399);
    border-radius: 2px;
    justify-content: center;
}

.botoesDeinteracao img{
    width: 2.7%;
}


/* ABA DE ASSUNTOS */

.buscaTwitter, .containerDeAssuntos, .termosTwitter{
    margin-left: 30px;
}

.buscaTwitter{
    margin: 0;
    padding: 0;
    margin-top: 5px;
    border-radius: 20px;
    display: block;
    margin-left: 30px;
    width: 350px;
    margin-bottom: 15px;
    background-color: rgb(228, 236, 236);
    position: fixed;
}

.buscaTwitter img{
    width: 25px;
    margin-bottom: -8px;
    margin-left: 6px;
}

.buscaTwitter input {
    height: 45px;
    padding: 0;
    width: 90%;
    border-radius: 20px;
    border: none;
    background: transparent;
    outline: none;
}

.buscaTwitter ::placeholder{
    color: gray;
    font-size: 17px;   
}

.containerDeAssuntos{
    border-radius: 20px;
    padding: 15px;
    background-color: rgb(242, 246, 246);
    position: fixed;
    margin-top: 80px;
    width: 350px;
}

.containerDeAssuntos h1{
    font-weight: bold;
    font-size: 20px;
}

.containerDeAssuntos h2{
    font-size: 17px;
    font-weight:bolder;
}

.containerDeAssuntos h3{
    float: right;
    margin-top: -30px;
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.containerDeAssuntos p{
    color: rgb(87, 86, 86);
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.assuntos{
    padding: 12px;
    cursor: pointer;
    border-radius: 5px;
}

.assuntos:hover{
    background-color: rgba(73, 71, 71, 0.325);
}

.termosTwitter{
    color: rgb(87, 86, 86);
    font-size: 14px;
    margin-left: 50px;
    margin-top: 605px;
    position: fixed;
}

/* RESPONSIVIDADE */

@media(max-width: 1300px){

    .cabeçalho_menuItem a{
        display: none;
    }

    .conteudoPrincipal{
        max-width: 650px;
        margin-left: 80px;
    }

    .cabeçalho_menuItem{
        margin-left: 65px;
        
    }

    .cabeçalho_logo img{
        margin-left: 65px;
    }
}

@media(max-width: 1150px){

    .buscaTwitter{
        width: 300px;
    }

    .buscaTwitter img{
        width: 20px;
        margin-bottom: -4px;
    }

    .containerDeAssuntos{
        width: 300px;
    }

    .buscaTwitter, .containerDeAssuntos, .termosTwitter{
        margin-left: 15px;
    }
}


@media(max-width: 1000px){
    .conteudoPrincipal{
        max-width: 150%;
        margin-left: 100px;
    }

    .buscaTwitter, .containerDeAssuntos, .termosTwitter{
        display: none;
    }

    .botoesDeinteracao{
        width: 450px;
    }
}


@media(max-width: 750px){
    .conteudoPrincipal{
        margin-left: 70px;
        max-width: 800%;
        width: 80%;
    }

    .botoesDeinteracao{
        width: 500px;
        justify-content:flex-start;
        margin-left: -60px;
    }

    .botoesDeinteracao img{
        margin-left: 62px;
    }
}

@media(max-width: 500px){

    html{
        width: 120%;
        max-width: 120%;
    }

    .cabeçalho_logo img{
        width: 40px;
    }

    .cabeçalho_menuItem:hover{
        background-color: transparent;
    }

    .conteudoPrincipal{
        margin-left: 60px;
    }

    .botoesDeinteracao{
        width: 500px;
        position: absolute;
        margin-top: -3px;
        margin-left: -35px;
    }

    .botoesDeinteracao img{
        margin-top: 15px;
        margin-left: 40px ;
    }

    .tweet_conteudo{
        margin-bottom: 10px;
        width: 170px;
        margin-right: -20px;
    }

    .tweet_conteudo p{
        text-align:left;
        width: 100%;
    }

    .tweet_conteudo span{
        white-space: nowrap;
        font-size: 14px;
    }

  

}



